#calendar-container {
    padding: 10px;
    width: 250px;
    height: 260px;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 10px;
    font-size: 16px;
    font-family: Arial;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    overflow: hidden;
    empty-cells: show;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    position: relative;
    outline: 0;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.day-highlight {
    background-color: yellow !important;
    color: red !important;
}

#calendar-container>div {
    padding: 0;
    margin-bottom: 10px;
}

#calendar-month-year {
    margin: 5px;
}

#calendar-dates>table>tr>td {
    padding: 5px;
}

tr:hover:not(:empty) {
    background-color: #91913b;
}

tr:first-child {
    background-color: white;
    pointer-events: none;
}

td:hover::before {
    background-color: #91913b;
    content: "";
    height: 10000px;
    left: 0;
    position: absolute;
    top: -5000px;
    width: 100%;
    z-index: -1;
}

tr.slider:hover {
    background-color: #91913b;
}

td.slider:hover {
    background-color: #91913b;
}

tr.empty {
    background: white;
    pointer-events: none;
}

td:empty {
    background-color: white;
    pointer-events: none;
}